<div class="container">
  <div>
    <h1>DEMANDE DE CONGES</h1>
    <div>
      <div class="form-group">
        <label for="id">id:</label>
        <input
          id="id"
          class="form-control"
          ngDefaultControl
          [(ngModel)]="employe.id"
          placeholder="generation automatique"
          readonly
        />
      </div>

      <div class="form-group">
        <label for="prenom">prenom:</label>
        <input
          id="prenom"
          class="form-control"
          ngDefaultControl
          [(ngModel)]="employe.prenom"
          readonly
        />
      </div>

      <div class="form-group">
        <label for="nom">nom:</label>
        <input
          id="nom"
          class="form-control"
          ngDefaultControl
          [(ngModel)]="employe.nom"
          readonly
        />
      </div>

      <div class="form-group">
        <label for="dateDemande">Date de demande:</label>
        <input
          id="dateDemande"
          class="form-control"
          ngDefaultControl
          [(ngModel)]="conge.dateDemande"
          type="date"
          placeholder="{{ dateajd }}"
        />
      </div>

      <!-- <div class="form-group" ngDefaultControl [(ngModel)]="conge.typeConge">
        <label for="typedeconge">Type de congé:</label>
        <table style="width: 650px">
          <tr>
            <td>
              <input
                type="radio"
                id="typeconge"
                name="typeconge"
                value="typeconge.absautor"
                checked
              />&nbsp;
              <label for="typeconge">{{ typeconge.absautor }}</label>
            </td>
            <td>
              <input
                type="radio"
                id="typeconge"
                name="typeconge"
                value="typeconge.congesanssolde"
              />
              &nbsp;
              <label for="typeconge">{{ typeconge.congesanssolde }}</label>
            </td>
            <td>
              <input
                type="radio"
                id="typeconge"
                name="typeconge"
                value="typeconge.congepayes"
              />
              &nbsp;
              <label for="typeconge">{{ typeconge.congepayes }}</label>
            </td>
            <td>
              <input
                type="radio"
                id="typeconge"
                name="typeconge"
                value="typeconge.absjusti"
              />
              &nbsp;
              <label for="typeconge">{{ typeconge.absjusti }}</label>
            </td>
          </tr>
        </table>
      </div> -->
      <div class="form-group">
        <label for="typeConge">type congé:</label>
        <select matNativeControl [(ngModel)]="conge.typeConge" name="type">
          <option
            *ngFor="let typeConge of keys(TypeConge)"
            [ngValue]="typeConge"
          >
            {{ typeConge }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="dateDebutConge">Date de début de congé:</label>
        <input
          id="dateDebutConge"
          class="form-control"
          ngDefaultControl
          [(ngModel)]="conge.dateDebut"
          type="date"
        />
      </div>

      <div class="form-group">
        <label for="dateFinConge">Date de fin de congé:</label>
        <input
          id="dateFinConge"
          class="form-control"
          ngDefaultControl
          [(ngModel)]="conge.dateFin"
          type="date"
        />
      </div>

      <!-- <div class="form-group">
      <label for="typeConge">Choisissez un type de congé:</label>
      <select class="form-control">
        <option
          *ngFor="let typeConge of typeConges | async"
          [ngValue]="typeConge"
        >
          {{ typeConge.nom }}
        </option>
      </select>
    </div> -->

      <div class="form-group">
        <label for="motifConge">Motif de congé:</label>
        <textarea
          class="form-control"
          ngDefaultControl
          cols="2"
          rows="5"
          id="motifConge"
          [(ngModel)]="conge.motif"
        ></textarea>
      </div>

      <div class="form-group">
        <button (click)="save()" class="btn btn-outline-success">
          enregistrer
        </button>
        <a class="btn btn-outline-warning" routerLink="/conge">annuler</a>
      </div>
    </div>
  </div>
</div>
